<h3>dashboard</h3>

{{#each blogs}}
    <a href="/blog/edit/{{id}}" class="flex">

        <p>{{title}}</p>
        <p>{{format_date date_created}}</p>

    </a>
{{/each}}

<a href="/newblog">+Add new Blog</a>