{{#each blogs as |blog|}}
    <article>
        <div>
            <h3><a href="/{{blog.id}}">{{blog.title}}</a></h3><p>Posted by
                {{blog.user.username}}
                on
                {{blog.date_created}}</p>

        </div>
    </article>

{{/each}}