<section class='login-section'>
  <h2 class='form-heading'>Login</h2>
  <div>
    <form class='login-form'>
      <label for='user-name'>Username</label>
      <input type='text' id='user-name' />
      <label for='password-login'>Password</label>
      <input type='password' id='password-login' />
      <button type='submit' class='btn'>Login</button>
    </form>
    <a href='./signup'>sign up instead</a>
  </div>
</section>
<script src='./js/login.js'></script>