<div>
    <di>
        <p>Create New Blog Post</p>
    </di>
</div>
<div>
    <form class="newblog-form">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" />
        <label for="contents">Content</label>
        <textarea name="contents" id="contents">

        </textarea>
        <button type="submit">Create</button>

    </form>

</div>

<script src="/js/newblog.js"></script>