<h3>Sign up</h3>
<form class="signup-form">
    <label for="username">Login</label>
    <input type="text" name="username" id="username" />
    <Label for="password">Password</Label>
    <input type="password" name="password" id="password" />
    <button type="submit">Sign Up!</button>
    <a href="/login">login instead</a>

</form>

<script src="/js/signup.js"></script>