/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;600;700&display=swap'); */
:root {
  --color-green: rgb(122, 176, 122);
  --font-size-3: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

li a {
  font-size: 2rem;
  color: var(--color-green);
}

html {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto Mono', monospace;
  background-color: var(--color-green);
}

h1 {
  font-size: var(--font-size-3);
  background-color: var(--color-green);
  width: max-content;
  padding: 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  margin-bottom: 3px;
}

header {
  background-color: black;
  padding: 2rem;
}

nav {
  display: flex;
  gap: 2rem;
}
.signup-section,
.login-section {
  gap: 3rem;
  width: 90%;
  margin: 0 auto;
  padding-top: 3rem;
}

form {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  padding: 2rem;
}

.form-heading {
  background-color: black;
  color: white;
  /* margin-top: 3rem; */
  padding: 1rem 0 1rem 2rem;
}

input,
button {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
}

button {
  background-color: gray;
}

.login-section {
  width: 80%;
  margin: 0 auto;
}

article {
  margin: 2rem 0;
  border: 2px solid black;
}
.title,
.date {
  color: white;
}

article .top {
  display: flex;
  justify-content: space-between;
  background-color: black;
  padding: 1rem;
}
.newpost {
  display: inline-block;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  background-color: black;
  color: white;
  padding: 1rem 2rem;

  border-radius: 4px;
  text-align: center;
}

article .bottom {
  padding: 1rem;
}
