@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;500;700&display=swap");
:root {
    --font-family-2: "Open Sans", sans-serif;
    --font-family-1: "Roboto", sans-serif;
    --color-black: black;
    --color-white: white;
    --color-blue: rgb(33, 10, 83);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}

body {
    font-family: var(--font-family-2);
    background-color: aquamarine;
}

.header {
    background-color: var(--color-black);
}

.menu {
    display: flex;
    gap: 2rem;
    padding: 1.5rem;
}

.menu-item a {
    color: aquamarine;
    text-decoration: none;
}

.logo-box {
    display: inline-block;
    background-color: rgb(196, 218, 211);
    margin-bottom: 2rem;
    margin-left: 1.5rem;
    padding: 0.5rem 1rem;
}

.card {
    width: 95%;
    margin: 2rem auto;
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-black);
    color: white;
    padding: 1rem;
}

footer {
    text-align: center;
}
